.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.tableCell {
    text-align: left;
}

.table th:first-child,
.table td:first-child {
    padding-left: 1rem;
}

.table th:last-child,
.table td:last-child {
    padding-right: 1rem;
    text-align: left;
}

.nameColumn,
.majorColumn{
    width: 25%;
}

.subteamColumn {
    width: 30%;
}

.classColumn {
    width: 20%;
}

.sortableHeader {
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s;
}

.sortableHeader:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
