.mainContainer {
    max-width: 1500px;
    margin: 0 auto;
}

.pageTitle {
    text-align: center;
    margin-bottom: 2rem;
}

.introSection {
    padding: 2.5rem;
    background: var(--mantine-color-dark-7);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 2rem;
    transition: border-color 0.2s ease;
    max-width: 1800px;
    width: 100%;
    text-align: left;
}

.introTitle {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    color: var(--mantine-color-white);
    text-transform: uppercase;
    text-align: center;
}

.introTitle::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--mantine-color-red-6);
    border-radius: 2px;
    margin: 1rem auto 2rem;
}

.introSection:hover {
    border-color: rgba(255, 255, 255, 0.2);
}

.introParagraph {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--mantine-color-gray-3);
}

.accomplishmentsSection {
    margin-top: 2rem;
}

.accomplishmentsTitle {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    color: var(--mantine-color-white);
    text-transform: uppercase;
}

.divider {
    width: 100%;
    border: 0;
    height: 3px;
    border-radius: 2px;
    margin: 1.5rem 0;
    background: var(--mantine-color-red-6);
}

.seasonSection {
    margin-bottom: 3rem;
    padding: 2rem;
    background: var(--mantine-color-dark-7);
    border: 1px solid var(--mantine-color-dark-4);
    border-radius: 8px;
    transition: border-color 0.2s ease;
}

.seasonSection:hover {
    border-color: var(--mantine-color-dark-3);
}

.seasonTitle {
    color: var(--mantine-color-white);
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.competitionCard {
    background-color: var(--mantine-color-dark-8);
    border: 1px solid var(--mantine-color-dark-5);
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.competitionCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.competitionTitle {
    color: var(--mantine-color-gray-2);
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid var(--mantine-color-dark-4);
    padding-bottom: 0.5rem;
}

.award {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.award:hover {
    filter: brightness(1.2);
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 2rem;
    }

    .seasonTitle {
        font-size: 1.5rem;
    }

    .accomplishmentsTitle {
        font-size: 1.7rem;
    }

    .headerContainer {
        padding: 0 1rem;
    }

    .seasonSection {
        padding: 1.5rem 1rem;
    }
}
